body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF3E0; /* Cream background */
    color: #2F4F4F; /* forest green text */
  }
  
  nav {
    background-color: #0b7038ab; /* Forest green background */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  nav menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav menu li {
    margin: 0 15px;
  }
  
  nav menu li a {
    color: #FAF3E0;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  nav menu li a:hover {
    background-color: #2F4F4F;
    border-radius: 5px;
  }
  
  body {
    padding-top: 60px; /* Adjust for the height of the fixed nav */
  }
  
  header {
    background-color: #0b7039;
    color: #FAF3E0;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin: 0;
  }
  
  .image-scrollbar {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
  }
  
  .image-scrollbar img {
    width: 1000px;
    height: 375px;
    object-fit: cover;
    margin-right: 10px;
    border: 6px solid #2F4F4F;
  }
  
  .image-scrollbar img:last-child {
    margin-right: 0;
  }
  
  .image-scrollbar::-webkit-scrollbar {
    height: 10px;
  }
  
  .image-scrollbar::-webkit-scrollbar-thumb {
    background-color: #005107;
    border-radius: 10px;
  }
  
  .image-scrollbar::-webkit-scrollbar-track {
    background-color: #b7dcb2;
  }
  
  footer {
    background-color: #0b70389c;
    color: #FAF3E0;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
  }

  .quote-box {
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 5px;
}

.quote {
  font-style: italic;
}

.author {
  font-weight: bold;
  text-align: right;
}

.author::before {
  content: " - ";
} 
  